@tailwind base;
@tailwind components;
@tailwind utilities;

#register-link {
    font-size: 16px;
    padding: 0;
    margin: 0;
    vertical-align: middle;
}

#register-button {
    width: 200px;
    height: 50px;
    background-color:gray;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0;
    margin: 0;
}